<footer class="footer">
  <div class="container container-flex">
    <div class="footer-wrapper">
      <div class="footer-wrapper-icon-text">
        <div class="footer-icon-wrapper">
          <svg class="footer-icon" width="168" height="16">
            <use href="/img/sprite.svg#icon-logo"></use>
          </svg>
        </div>
        <p class="footer-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="footer-wrapper-list-address">
        <ul class="footer-list">
          <li class="footer-list-item">
            <a href="#how-it-works" class="footer-list-link">how it works</a>
          </li>
          <li class="footer-list-item">
            <a href="#vegetables" class="footer-list-link">vegetables</a>
          </li>
          <li class="footer-list-item">
            <a href="#reviews" class="footer-list-link">reviews</a>
          </li>
        </ul>
        <address class="address">
          <ul class="footer-address-list">
            <li class="footer-address-list-item">
              <a class="footer-address-list-link" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-address-list-item">
              <p class="footer-address-list-text">1678 S. Pioneer Road</p>
              <p class="footer-address-list-text">Salt Lake City, UT 84104</p>
            </li>
          </ul>
        </address>
      </div>
    </div>
    <div class="footer-settings">
      <div class="footer-settings-wrapper">
        <p class="footer-settings-text">
          <a href="#" class="footer-settings-link">Privacy Policy</a>
        </p>
        <p class="footer-settings-text">/</p>
        <p class="footer-settings-text"><a href="#">Cookie settings</a></p>
      </div>
      <p class="footer-settings-text">&copy; Green Harvest 2023</p>
    </div>
  </div>
</footer>
