<header class="header">
  <div class="container header-container">
    <svg class="icon-logo" width="168" height="16">
      <use href="/img/sprite.svg#icon-logo"></use>
    </svg>

    <div class="menu-and-btn">
      <nav class="header-nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="/how-it-works.html">How It Works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vegetables.html">Vegetables</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reviews.html">Reviews</a>
          </li>
        </ul>
      </nav>
      <button class="shop-now" type="button">Shop Now</button>
    </div>

    <button class="menu-btn" type="button">
      <svg class="icon-menu" width="32" height="32">
        <use href="/img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
