<section class="section-how-it-works">
  <h2 class="visually-hidden">How it works</h2>

  <ul class="section-how-it-works-list">
    <li class="section-how-it-works-item section-how-it-works-left container">
      <picture>
        <source
          srcset="/img/img-works-desk.jpg 1x, /img/img-works-desk@2x.jpg 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="/img/img-works-tab.jpg 1x, /img/img-works-tab@2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="/img/img-works-mob.jpg 1x, /img/img-works-mob@2x.jpg 2x"
          media="(max-width: 767px)"
        />
        <img
          class="section-how-it-works-jpg"
          src="../img/img-hero-desk.jpg"
          alt="image cashless payment "
        />
      </picture>
    </li>

    <li class="section-how-it-works-item section-how-it-works-right">
      <h3 class="section-how-it-works-title">
        To order your <span class="span-how-it-works">vegetable</span> basket,
        simply follow these <span class="span-how-it-works">easy steps</span>
      </h3>
      <p class="section-how-it-works-text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ol class="how-it-works-menu">
        <li class="how-it-works-item">
          <div class="how-it-works-div">
            <p class="how-it-works-p">
              Just choose
              <span class="how-it-works-strong-word"> the vegetable </span>
              you want to order by clicking on the checkboxes
              <span class="how-it-works-strong-word">next to it.</span>
            </p>
          </div>
        </li>

        <li class="how-it-works-item">
          <div class="how-it-works-div">
            <p class="how-it-works-p">
              Click on
              <span class="how-it-works-strong-word">the basket</span> and fill
              out the <br />form.
            </p>
          </div>
        </li>

        <li class="how-it-works-item">
          <div class="how-it-works-div">
            <p class="how-it-works-p">
              Sit back and relax! Your
              <span class="how-it-works-strong-word">fresh vegetables</span>
              basket will be delivered.
            </p>
          </div>
        </li>
      </ol>
    </li>
  </ul>
</section>
