<div class="mobile-menu is-open" data-menu>
  <div class="mobile-menu-container">
    <button type="button" class="mobile-menu-close">
      <svg class="menu-close-icon" width="32" height="32">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="mobile-menu-navigation">
      <ul class="button-list">
        <li class="mobile-menu-list-item">
          <button type="button" class="mobile-menu-list-btn">
            How It Works
          </button>
        </li>
        <li class="mobile-menu-list-item">
          <button type="button" class="mobile-menu-list-btn">Vegetables</button>
        </li>
        <li class="mobile-menu-list-item">
          <button type="button" class="mobile-menu-list-btn">Reviews</button>
        </li>
      </ul>
    </nav>

    <button type="button" class="button-shop">Shop now</button>
  </div>
</div>
