<section class="section review-section" id="reviews">
  <div class="container">
    <div class="reviews-header-div">
      <h2 class="reviews-header">
        reviews from our <span class="customers">customers</span>
      </h2>
      <p class="reviews-paragraph">
        Words of our customers: impressions and opinions about the quality of
        our services and the freshness of our products.
      </p>
    </div>
    <ul class="reviews-list">
      <li class="reviews-item">
        <img
          srcset="/img/john-wax.webp 1x, /img/john-wax@2x.webp 2x"
          alt="john's profile picture"
          width="56"
          height="56"
          src="/img/john-wax.webp"
        />
        <div class="review-person">
          <h3 class="reviews-name">John Wax</h3>
          <p class="reviews">
            These vegetables are my secret to delicious and healthy meals. The
            quality is always at the highest level, the aroma and taste are
            enchanting. I advise every fan of real products!
          </p>
        </div>
      </li>
      <li class="reviews-item">
        <img
          srcset="
            /img/victoria-romashenko.webp    1x,
            /img/victoria-romashenko@2x.webp 2x
          "
          alt="victoria's profile picture"
          width="56"
          height="56"
          src="/img/victoria-romashenko.webp"
        />
        <div class="review-person">
          <h3 class="reviews-name">Victoria Romashenko</h3>
          <p class="reviews">
            I love how fast and fresh the vegetables are delivered. Salads
            always turn out so appetizing, and soups are real masterpieces. The
            quality is impeccable!
          </p>
        </div>
      </li>
      <li class="reviews-item">
        <img
          srcset="/img/ihor-trachuk.webp 1x, /img/ihor-trachuk@2x.webp 2x"
          alt="ihor's profile picture"
          width="56"
          height="56"
          src="/img/ihor-trachuk.webp"
        />
        <div class="review-person">
          <h3 class="reviews-name">Ihor Trachuk</h3>
          <p class="reviews">
            Recently tried my fresh tomatoes and peppers - amazing! The
            authenticity of the taste, as if from the garden directly to my
            table. It is now my main vegetable supplier.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
