<section>
  <div class="products-section container">
    <h2 class="products-subtitle">
      organic<span class="products-subtitle-part"><br />vegetables</span>
    </h2>
    <p class="products-subtitle-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="products-list">
      <li class="products-list-item">
        <p class="type-text">eggplant</p>
        <span class="price-text">60 USD / kg</span>
        <img
          class="products-list-img"
          srcset="../img/eggplant@2x.webp 2x"
          src="../img/eggplant.webp"
          alt="eggplant"
          width="282"
          height="243"
        />
      </li>
      <li class="products-list-item">
        <p class="type-text">leek</p>
        <span class="price-text">50 USD / kg</span>
        <img
          class="products-list-img"
          srcset="../img/leek@2x.webp 2x"
          src="../img/leek.webp"
          alt="leek"
          width="282"
          height="243"
        />
      </li>
      <li class="products-list-item">
        <p class="type-text">mushrooms</p>
        <span class="price-text">40 USD / kg</span>
        <img
          class="products-list-img"
          srcset="../img/mushrooms@2x.webp 2x"
          src="../img/mushrooms.webp"
          alt="mushrooms"
          width="282"
          height="243"
        />
      </li>
      <li class="products-list-item">
        <p class="type-text">corn</p>
        <span class="price-text">60 USD / kg</span>
        <img
          class="products-list-img"
          srcset="../img/corn@2x.webp 2x"
          src="../img/corn.webp"
          alt="corn"
          width="282"
          height="243"
        />
      </li>
      <li class="products-list-item">
        <p class="type-text">sweet potatoes</p>
        <span class="price-text">50 USD / kg</span>
        <img
          class="products-list-img"
          srcset="../img/potatoes@2x.webp 2x"
          src="../img/potatoes.webp"
          alt="sweet potatoes"
          width="282"
          height="243"
        />
      </li>
      <li class="products-list-item">
        <p class="type-text">carrot</p>
        <span class="price-text">40 USD / kg</span>
        <img
          class="products-list-img"
          srcset="../img/carrot@2x.webp 2x"
          src="../img/carrot.webp"
          alt="carrot"
          width="282"
          height="243"
        />
      </li>
    </ul>
  </div>
</section>
