.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container-advertisement {
    padding: 0 10px;
}
.advertisement-content {
    max-width: 375px;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.05;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    padding: 0px 10px 0px 10px;
    display: block;
    color: #141414;   
}
.advertisement-colored-text {
    color: #fbfbfb;
    border-radius: 12px;
    max-width: 355px;
    background-color: #576f35;
    padding: 3px 10px 0 10px;
    display: block;
    margin: 0 -10px;
}
@media only screen and (min-width: 768px) {
        .container-advertisement {
            padding: 0 16px;
        }
        .advertisement-content {
            max-width: 736px;
            font-size: 64px;
            line-height: 1.09;
            padding: 0px 16px 0px 16px;
        }
        .advertisement-colored-text {
            padding: 8px 16px 8px 16px;
            max-width: 736px;
            margin-left: -16px;
            margin-right: -16px;
            margin-bottom: -8px;
        }
    }
@media only screen and (min-width: 1280px) {
          .container-advertisement {
            padding: 0 100px;
        }
        .advertisement-content {
            max-width: 1080px;
            font-size: 76px;
            line-height: 1.05;
            padding: 8px 16px 0px 13px;
        }
        .advertisement-colored-text {
            display: inline;
            max-width: 808px;
            padding: 0 6px 0 13px;
            margin: 0 6px 0 -13px
        }
    }
