body {
  margin: 0;
  font-family: "Inter Tight", sans-serif;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}