.hero {
  min-width: 320px;
  max-width: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #576f35;
  margin: 0 auto;
}
.hero-first {
  max-width: 375px;
  min-width: 320px;
  padding-top: 100px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.hero-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}
.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
}
.hero-img {
  width: 100%;
  height: 370px;
  background-image: linear-gradient(
      to bottom,
      rgba(20, 20, 20, 0.2),
      rgba(20, 20, 20, 0.2)
    ),
    url(/img/img-hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
@media screen and (min-resolution: 192dpi) {
  .hero-img {
    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(/img/img-hero-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
  .hero-first {
    max-width: 768px;
    min-width: 768px;
    max-height: 485px;
    min-height: 485px;
    padding-top: 122px;
    padding-bottom: 50px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .hero-title {
    font-weight: 600;
    font-size: 76px;
    line-height: 1;
    letter-spacing: -0.01em;
    margin-bottom: 25px;
  }
  .hero-text {
    font-size: 16px;
    line-height: 1.25;
  }
  .hero-img {
    max-width: 768px;
    min-width: 768px;
    max-height: 539px;
    min-height: 539px;
    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(/img/img-hero-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-img {
    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(/img/img-hero-tab@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    max-width: 1280px;
    flex-direction: row;
  }
  .hero-first {
    max-width: 630px;
    min-width: 630px;
    max-height: 800px;
    min-height: 800px;
    padding-top: 238px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 28px;
  }
  .hero-title {
    margin-bottom: 128px;
  }

  .hero-img {
    max-width: 650px;
    min-width: 650px;
    max-height: 800px;
    min-height: 800px;
    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(/img/img-hero-desk.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .hero-img {
    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(/img/img-hero-desk@2x.jpg);
  }
}
