.container {
    padding: 80px 20px;
  }

.products-section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #7a3145;
}

.products-subtitle {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}

.products-subtitle-part {
  color: rgba(251, 251, 251, 0.3);
}

.products-subtitle-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: #fbfbfb;
  margin-bottom: 40px;
}

.products-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}

.products-list-item {
  border-radius: 40px;
  padding: 32px 26px;
  background-color: #fbfbfb;
}

.type-text {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #7a3145;
  margin-bottom: 12px;
}

.price-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .products-subtitle {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 50px;
  }

  .products-subtitle-text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 50px;
  }

  .products-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 28px;
  }

  .products-list-item {
    width: calc((100% - 20px) / 2);
    padding: 32px 30px;
  }

  .type-text {
    font-size: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .products-subtitle {
    margin-bottom: 25px;
  }

  .products-list {
    column-gap: 21px;
  }

  .products-list-item {
    width: calc((100% - 2 * 28px) / 3);
  }
}
